# Data Wrangling for WeRateDogs Twitter Feed by Michelle Petersen

In [258]:
# Imports
%matplotlib inline
import pandas as pd
import numpy as np
import requests
import tweepy
import matplotlib.pyplot as plt
import seaborn as sns
from tweepy import OAuthHandler
from timeit import default_timer as timer

## Gather

#### Create DataFrame from twitter-archive_enhanced.csv via read_csv

In [259]:
# Load the twitter archive data that was downloaded manually from Udacity
df_tweets = pd.read_csv("twitter-archive-enhanced.csv")
df_tweets.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

#### Create DataFrame from image_predictions.tsv via request library

In [260]:
# Download the image_predictions.tsv file via requests library
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"

try:
    if url.find('/'):
      image_predictions =  url.rsplit('/', 1)[1]
    r = requests.get(url)
    open(image_predictions, 'wb').write(r.content)

except Exception as e:
    print("Unable to download image_predictions.tsv: " + str(e))

# Load the tab separated file into a dataframe
df_image_predict = pd.read_csv("image-predictions.tsv", sep="\t")
df_image_predict.head(1)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True

#### Create DataFrame from tweet_json.txt via Twitter Tweepy API

In [261]:
def query_twitter_for_additional_info(tweet_ids):
    # Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
    
    # These are hidden to comply with Twitter's API terms and conditions
    consumer_key = 'HIDDEN'
    consumer_secret = 'HIDDEN'
    access_token = 'HIDDEN'
    access_secret = 'HIDDEN'

    auth = OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_secret)

    # Call the tweepy API and use use wait on rate limit since the number of requests will exceed the limit
    api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
    print(len(tweet_ids))

    # Query Twitter's API for JSON data for each tweet ID in the Twitter archive
    count = 0
    fails_dict = {}
    start = timer()
    
    # Save each tweet's returned JSON as a new line in a .txt file
    with open('tweet_json.txt', 'w') as outfile:
        # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
        for tweet_id in tweet_ids:
            count += 1
            print(str(count) + ": " + str(tweet_id))
            try:
                # On success output the downloaded json to a row in the local file
                tweet = api.get_status(tweet_id, tweet_mode='extended')
                print("Success")
                json.dump(tweet._json, outfile)
                outfile.write('\n')
            except tweepy.TweepError as e:
                # On failure output the tweet ids that had errors
                print("Fail")
                fails_dict[tweet_id] = e
                pass
    end = timer()
    print(end - start)
    print(fails_dict)

In [262]:
# Download data via the Twitter API
# Commented out since it ran and generated tweet_json.txt
# query_twitter_for_additional_info(df_tweets.tweet_id.values)

In [263]:
# Load the downloaded extended tweet info into a dataframe
df_tweet_additional_info = pd.read_json("tweet_json.txt", lines=True)
df_tweet_additional_info.head(1)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,id,id_str,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,is_quote_status,lang,place,possibly_sensitive,possibly_sensitive_appealable,quoted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",38149,False,This is Phineas. He's a mystical boy. Only eve...,NaN,892420643555336193,892420643555336192,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,8346,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

## Assess

In [264]:
# Set a higher number for default display options to accomidate the columns in the df_tweet_additional_info table
pd.set_option('display.max_columns', 35)

In [265]:
# Output the df_tweets dataframe for visual inspection
df_tweets

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Gal√°pagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [266]:
# Output the df_image_predict dataframe for visual inspection
df_image_predict

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,0.278407,True,groenendael,0.102643,True
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,golden_retriever,0.858744,True,Chesapeake_Bay_retriever,0.054787,True,Labrador_retriever,0.014241,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,soft-coated_wheaten_terrier,0.326467,True,Afghan_hound,0.259551,True,briard,0.206803,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,0.271485,False,gar,0.189945,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French_bulldog,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,kuvasz,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,Samoyed,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/88734...,1,Mexican_hairless,0.330741,True,sea_lion,0.275645,False,Weimaraner,0.134203,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,basset,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French_bulldog,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian_husky,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden_retriever,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden_retriever,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,whippet,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French_bulldog,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [267]:
# Output the df_tweet_additional_info dataframe for visual inspection
df_tweet_additional_info

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,id,id_str,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,is_quote_status,lang,place,possibly_sensitive,possibly_sensitive_appealable,quoted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",38149,False,This is Phineas. He's a mystical boy. Only eve...,NaN,892420643555336193,892420643555336192,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,8346,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,NaN,NaN,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",32718,False,This is Tilly. She's just checking pup on you....,NaN,892177421306343426,892177421306343424,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,6171,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,NaN,NaN,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",24634,False,This is Archie. He is a rare Norwegian Pouncin...,NaN,891815181378084864,891815181378084864,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,4081,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,NaN,NaN,2017-07-30 15:58:51,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",41490,False,This is Darla. She commenced a snooze mid meal...,NaN,891689557279858688,891689557279858688,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,8483,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,NaN,NaN,2017-07-29 16:00:24,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",39664,False,This is Franklin. He would like you to stop ca...,NaN,891327558926688256,891327558926688256,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,9183,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
5,NaN,NaN,2017-07-29 00:08:17,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891087942176911360, 'id_str'...",19914,False,Here we have a majestic great white breaching ...,NaN,891087950875897856,891087950875897856,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,3055,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
6,NaN,NaN,2017-07-28 16:27:12,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 890971906207338496, 'id_str'...",11640,False,Meet Jax. He enjoys ice cream so much he gets ...,NaN,890971913173991426,890971913173991424,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,2027,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
7,NaN,NaN,2017-07-28 00:22:40,"[0, 118]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 890729118844600320, 'id_str'...",64381,False,When you watch your owner call another dog a g...,NaN,890729181411237888,890729181411237888,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,18527,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
8,NaN,NaN,2017-07-27 16:25:51,"[0, 122]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 890609177319665665, 'id_str'...",27356,False,This is Zoey. She doesn't want to be one of th...,NaN,890609185150312448,890609185150312448,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,4197,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
9,NaN,NaN,2017-07-26 15:59:51,"[0, 133]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 890240245463175168, 'id_str'...",31401,False,This is Cassie. She is a college pup. Studying...,NaN,890240255349198849,890240255349198848,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,7250,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
10,NaN,NaN,2017-07-26 00:31:25,"[0, 130]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 890006600089468928, 'id_str'...",30187,False,This is Koda. He is a South Australian decksha...,NaN,890006608113172480,890006608113172480,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,7202,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
11,NaN,NaN,2017-07-25 16:11:53,"[0, 107]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 889880888800096258, 'id_str'...",27348,False,This is Bruno. He is a service shark. Only get...,NaN,889880896479866881,889880896479866880,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,4887,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
12,NaN,NaN,2017-07-25 01:55:32,"[0, 106]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 889665366129029120, 'id_str'...",47345,False,Here's a puppo that seems to be on the fence a...,NaN,889665388333682689,889665388333682688,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,9871,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
13,NaN,NaN,2017-07-25 00:10:02,"[0, 91]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 889638825424826374, 'id_str'...",26728,False,This is Ted. He does his best. Sometimes that'...,NaN,889638837579907072,889638837579907072,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,4463,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
14,NaN,NaN,2017-07-24 17:02:04,"[0, 118]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 889531127467266049, 'id_str'...",14868,False,This is Stuart. He's sporting his favorite fan...,NaN,889531135344209921,889531135344209920,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,2206,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
15,NaN,NaN,2017-07-24 00:19:32,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 889278779352338437, 'id_str'...",24850,False,This is Oliver. You're witnessing one of his m...,NaN,889278841981685760,889278841981685760,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,5279,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
16,NaN,NaN,2017-07-23 00:22:39,"[0, 86]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888917229776945152, 'id_str'...",28630,False,This is Jim. He found a fren. Taught him how t...,NaN,888917238123831296,888917238123831296,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,4412,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
17,NaN,NaN,2017-07-22 16:56:37,"[0, 128]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888804981515575296, 'id_str'...",25145,False,This is Zeke. He has a new stick. Very proud o...,NaN,888804989199671297,888804989199671296,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,4219,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
18,NaN,NaN,2017-07-22 00:23:06,"[0, 87]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888554915546542081, 'id_str'...",19524,False,This is Ralphus. He's powering up. Attempting ...,NaN,888554962724278272,888554962724278272,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,3488,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
19,NaN,NaN,2017-07-20 16:49:33,"[0, 127]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888078426338406400, 'id_str'...",21409,False,This is Gerald. He was just told he didn't get...,NaN,888078434458587136,888078434458587136,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,3433,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
20,NaN,NaN,2017-07-19 16:06:48,"[0, 127]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887705281597243393, 'id_str'...",29689,False,This is Jeffrey. He has a monopoly on the pool...,NaN,887705289381826560,887705289381826560,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,5291,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
21,NaN,NaN,2017-07-19 03:39:09,"[0, 108]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887517108413886465, 'id_str'...",45558,False,I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,887517139158093824,887517139158093824,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,11465,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
22,NaN,NaN,2017-07-19 00:47:34,"[0, 99]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887473949361045505, 'id_str'...",67976,False,This is Canela. She attempted some fancy porch...,NaN,887473957103951883,887473957103951872,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,17851,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
23,NaN,NaN,2017-07-18 16:08:03,"[0, 88]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887343120832229379, 'id_str'...",33154,False,You may not have known you needed to see this ...,NaN,887343217045368832,887343217045368832,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,10223,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
24,NaN,NaN,2017-07-18 00:07:08,"[0, 129]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887101385971384320, 'id_str'...",30094,False,This... is a Jubilant Antarctic House Bear. We...,NaN,887101392804085760,887101392804085760,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,5859,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
25,NaN,NaN,2017-07-17 16:17:36,"[0, 101]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886983218871902208, 'id_str'...",34594,False,This is Maya. She's very shy. Rarely leaves he...,NaN,886983233522544640,886983233522544640,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,7630,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
26,NaN,NaN,2017-07-16 23:58:41,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886736868116754432, 'id_str'...",11861,False,This is Mingus. He's a wonderful father to his...,NaN,886736880519319552,886736880519319552,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,3221,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
27,NaN,NaN,2017-07-16 20:14:00,"[0, 71]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886680331239161856, 'id_str'...",22088,False,This is Derek. He's late for a dog meeting. 13...,NaN,886680336477933568,886680336477933568,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,4385,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
28,NaN,NaN,2017-07-15 23:25:31,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886366138128449536, 'id_str'...",20855,False,This is Roscoe. Another pupper fallen victim t...,NaN,886366144734445568,886366144734445568,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,3142,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
29,NaN,NaN,2017-07-15 16:51:35,"[27, 105]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,116,False,@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,886267009285017600,886267009285017600,NonWhiteHat,8.862664e+17,8.862664e+17,2.281182e+09,2.281182e+09,False,en,None,NaN,NaN,NaN,NaN,NaN,NaN,4,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312,NaN,NaN,2015-11-17 00:24:19,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666411498068123649, 'id_str'...",439,False,This is quite the dog. Gets really excited whe...,NaN,666411507551481857,666411507551481856,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,323,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2313,NaN,NaN,2015-11-17 00:06:54,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666407121513275392, 'id_str'...",107,False,This is a southern Vesuvius bumblegruff. Can d...,NaN,666407126856765440,666407126856765440,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,40,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2314,NaN,NaN,2015-11-16 23:23:41,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666396240351993856, 'id_str'...",166,False,Oh goodness. A super rare northeast Qdoba kang...,NaN,666396247373291520,666396247373291520,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,84,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2315,NaN,NaN,2015-11-16 21:54:18,"[0, 81]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666373746337402880, 'id_str'...",186,False,Those are sunglasses and a jean jacket. 11/10 ...,NaN,666373753744588802,666373753744588800,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,92,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2316,NaN,NaN,2015-11-16 21:10:36,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666362717482020864, 'id_str'...",769,False,Unique dog here. Very small. Lives in containe...,NaN,666362758909284353,666362758909284352,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,564,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2317,NaN,NaN,2015-11-16 20:32:58,"[0, 135]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666353280906170368, 'id_str'...",217,False,Here we have a mixed Asiago from the Gal√°pagos...,NaN,666353288456101888,666353288456101888,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,71,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2318,NaN,NaN,2015-11-16 20:01:42,"[0, 112]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666345414279471104, 'id_str'...",288,False,Look at this jokester thinking seat belt laws ...,NaN,666345417576210432,666345417576210432,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,133,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2319,NaN,NaN,2015-11-16 19:31:45,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666337857791987715, 'id_str'...",196,False,This is an extremely rare horned Parthenon. No...,NaN,666337882303524864,666337882303524864,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,90,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2320,NaN,NaN,2015-11-16 16:37:02,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666293909010702337, 'id_str'...",494,False,This is a funny dog. Weird toes. Won't come do...,NaN,666293911632134144,666293911632134144,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,351,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2321,NaN,NaN,2015-11-16 16:11:11,"[0, 136]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666287399580733440, 'id_str'...",145,False,This is an Albanian 3 1/2 legged Episcopalian...,NaN,666287406224695296,666287406224695296,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,64,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2322,NaN,NaN,2015-11-16 15:14:19,"[0, 46]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666273081518768128, 'id_str'...",173,False,Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,666273097616637952,666273097616637952,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,76,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2323,NaN,NaN,2015-11-16 14:57:41,"[0, 82]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666268904428277760, 'id_str'...",102,False,Very concerned about fellow dog trapped in com...,NaN,666268910803644416,666268910803644416,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,35,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2324,NaN,NaN,2015-11-16 04:02:55,"[0, 134]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666104129232740352, 'id_str'...",14135,False,Not familiar with this breed. No tail (weird)....,NaN,666104133288665088,666104133288665088,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,6468,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2325,NaN,NaN,2015-11-16 03:55:04,"[0, 128]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666102150364286977, 'id_str'...",80,False,Oh my. Here you are seeing an Adobe Setter giv...,NaN,666102155909144576,666102155909144576,None,NaN,NaN,NaN,NaN,False,en,None,0.0,0.0,NaN,NaN,NaN,NaN,12,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [268]:
#Visually assess 'entities' variable
df_tweet_additional_info.entities[42]

{'hashtags': [],
 'symbols': [],
 'user_mentions': [],
 'urls': [],
 'media': [{'id': 884162662212489221,
   'id_str': '884162662212489221',
   'indices': [141, 164],
   'media_url': 'http://pbs.twimg.com/media/DEUtQbzW0AUTv_o.jpg',
   'media_url_https': 'https://pbs.twimg.com/media/DEUtQbzW0AUTv_o.jpg',
   'url': 'https://t.co/YSI00BzTBZ',
   'display_url': 'pic.twitter.com/YSI00BzTBZ',
   'expanded_url': 'https://twitter.com/dog_rates/status/884162670584377345/photo/1',
   'type': 'photo',
   'sizes': {'small': {'w': 680, 'h': 611, 'resize': 'fit'},
    'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
    'large': {'w': 1278, 'h': 1148, 'resize': 'fit'},
    'medium': {'w': 1200, 'h': 1078, 'resize': 'fit'}}}]}

In [269]:
#Visually assess 'extended_entities' variable
df_tweet_additional_info.extended_entities[42]

{'media': [{'id': 884162662212489221,
   'id_str': '884162662212489221',
   'indices': [141, 164],
   'media_url': 'http://pbs.twimg.com/media/DEUtQbzW0AUTv_o.jpg',
   'media_url_https': 'https://pbs.twimg.com/media/DEUtQbzW0AUTv_o.jpg',
   'url': 'https://t.co/YSI00BzTBZ',
   'display_url': 'pic.twitter.com/YSI00BzTBZ',
   'expanded_url': 'https://twitter.com/dog_rates/status/884162670584377345/photo/1',
   'type': 'photo',
   'sizes': {'small': {'w': 680, 'h': 611, 'resize': 'fit'},
    'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
    'large': {'w': 1278, 'h': 1148, 'resize': 'fit'},
    'medium': {'w': 1200, 'h': 1078, 'resize': 'fit'}}}]}

In [270]:
#Visually assess 'user' variable
df_tweet_additional_info.user[42]

{'id': 4196983835,
 'id_str': '4196983835',
 'name': 'WeRateDogs‚Ñ¢',
 'screen_name': 'dog_rates',
 'location': 'merch  ‚á®',
 'description': 'Your Only Source For Professional Dog Ratings ‚†Ä ‚†ÄIG, FB, Snapchat ‚á® WeRateDogs ‚†Ä‚†Ä‚†Ä‚†Ä‚†Ä‚†Ä‚†Ä‚†Ä‚†Ä‚†Ä‚†Ä‚†Ä Business: dogratingtwitter@gmail.com',
 'url': 'https://t.co/N7sNNHAEXS',
 'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHAEXS',
     'expanded_url': 'http://weratedogs.com',
     'display_url': 'weratedogs.com',
     'indices': [0, 23]}]},
  'description': {'urls': []}},
 'protected': False,
 'followers_count': 7500111,
 'friends_count': 11,
 'listed_count': 5561,
 'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
 'favourites_count': 140402,
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': True,
 'verified': True,
 'statuses_count': 9368,
 'lang': 'en',
 'contributors_enabled': False,
 'is_translator': False,
 'is_translation_enabled': False,
 'profile_background_color': '000000',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_tile': False,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/1072659905235042304/nm3HWlPG_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1072659905235042304/nm3HWlPG_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1544368760',
 'profile_link_color': 'F5ABB5',
 'profile_sidebar_border_color': '000000',
 'profile_sidebar_fill_color': '000000',
 'profile_text_color': '000000',
 'profile_use_background_image': False,
 'has_extended_profile': False,
 'default_profile': False,
 'default_profile_image': False,
 'following': False,
 'follow_request_sent': False,
 'notifications': False,
 'translator_type': 'none'}

In [271]:
# Output the df_tweets dataframe info for visual inspection of datatypes
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [272]:
# Output the df_image_predict dataframe info for visual inspection of datatypes
df_image_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [273]:
# Output the df_tweet_additional_info dataframe info for visual inspection of datatypes
df_tweet_additional_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2342 entries, 0 to 2341
Data columns (total 32 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       2342 non-null datetime64[ns]
display_text_range               2342 non-null object
entities                         2342 non-null object
extended_entities                2068 non-null object
favorite_count                   2342 non-null int64
favorited                        2342 non-null bool
full_text                        2342 non-null object
geo                              0 non-null float64
id                               2342 non-null int64
id_str                           2342 non-null int64
in_reply_to_screen_name          77 non-null object
in_reply_to_status_id            77 non-null float64
in_reply_to_status_id_str        77 non-null float64
in_reply_to_user_id              77 non-null float64
in_reply_to_user_id_str          77 non-null float64
is_quote_status                  2342 non-null bool
lang                             2342 non-null object
place                            1 non-null object
possibly_sensitive               2206 non-null float64
possibly_sensitive_appealable    2206 non-null float64
quoted_status                    24 non-null object
quoted_status_id                 26 non-null float64
quoted_status_id_str             26 non-null float64
quoted_status_permalink          26 non-null object
retweet_count                    2342 non-null int64
retweeted                        2342 non-null bool
retweeted_status                 168 non-null object
source                           2342 non-null object
truncated                        2342 non-null bool
user                             2342 non-null object
dtypes: bool(4), datetime64[ns](1), float64(11), int64(4), object(12)
memory usage: 521.5+ KB

In [274]:
# Output df_tweets statistics for numeric variables for visual inspection 
df_tweets.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [275]:
# Output df_image_predict statistics for numeric variables for visual inspection 
df_image_predict.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [276]:
# Output df_tweet_additional_info statistics for numeric variables for visual inspection 
df_tweet_additional_info.describe()

,contributors,coordinates,favorite_count,geo,id,id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,possibly_sensitive,possibly_sensitive_appealable,quoted_status_id,quoted_status_id_str,retweet_count
count,0.0,0.0,2342.000000,0.0,2.342000e+03,2.342000e+03,7.700000e+01,7.700000e+01,7.700000e+01,7.700000e+01,2206.0,2206.0,2.600000e+01,2.600000e+01,2342.000000
mean,NaN,NaN,7985.517506,NaN,7.422212e+17,7.422212e+17,7.440692e+17,7.440692e+17,2.040329e+16,2.040329e+16,0.0,0.0,8.113972e+17,8.113972e+17,2944.695559
std,NaN,NaN,12361.182709,NaN,6.832408e+16,6.832408e+16,7.524295e+16,7.524295e+16,1.260797e+17,1.260797e+17,0.0,0.0,6.295843e+16,6.295843e+16,4951.985953
min,NaN,NaN,0.000000,NaN,6.660209e+17,6.660209e+17,6.658147e+17,6.658147e+17,1.185634e+07,1.185634e+07,0.0,0.0,6.721083e+17,6.721083e+17,0.000000
25%,NaN,NaN,1377.250000,NaN,6.783509e+17,6.783509e+17,6.757073e+17,6.757073e+17,3.589728e+08,3.589728e+08,0.0,0.0,7.761338e+17,7.761338e+17,591.500000
50%,NaN,NaN,3472.500000,NaN,7.186224e+17,7.186224e+17,7.032559e+17,7.032559e+17,4.196984e+09,4.196984e+09,0.0,0.0,8.281173e+17,8.281173e+17,1374.500000
75%,NaN,NaN,9784.250000,NaN,7.986971e+17,7.986971e+17,8.233264e+17,8.233264e+17,4.196984e+09,4.196984e+09,0.0,0.0,8.637581e+17,8.637581e+17,3433.750000
max,NaN,NaN,164690.000000,NaN,8.924206e+17,8.924206e+17,8.862664e+17,8.862664e+17,8.405479e+17,8.405479e+17,0.0,0.0,8.860534e+17,8.860534e+17,83925.000000

In [277]:
# Output df_tweets null value statistics for visual inspection 
df_tweets.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [278]:
# Output df_image_predict null value statistics for visual inspection 
df_image_predict.isnull().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [279]:
# Output df_tweet_additional_info null value statistics for visual inspection 
df_tweet_additional_info.isnull().sum()

contributors                     2342
coordinates                      2342
created_at                          0
display_text_range                  0
entities                            0
extended_entities                 274
favorite_count                      0
favorited                           0
full_text                           0
geo                              2342
id                                  0
id_str                              0
in_reply_to_screen_name          2265
in_reply_to_status_id            2265
in_reply_to_status_id_str        2265
in_reply_to_user_id              2265
in_reply_to_user_id_str          2265
is_quote_status                     0
lang                                0
place                            2341
possibly_sensitive                136
possibly_sensitive_appealable     136
quoted_status                    2318
quoted_status_id                 2316
quoted_status_id_str             2316
quoted_status_permalink          2316
retweet_count                       0
retweeted                           0
retweeted_status                 2174
source                              0
truncated                           0
user                                0
dtype: int64

In [280]:
# Assess consistency in ratings numerator. Ideally Values should be >=10 or <=20.
df_tweets.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [281]:
# Assess consistency in ratings denominator. Values should be 10.
df_tweets.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [282]:
# Assess duplicate columns across dataframes. Columns should be unique except for the keys
all_columns = pd.Series(list(df_tweets) + list(df_image_predict) + list(df_tweet_additional_info))
all_columns[all_columns.duplicated()]

17                 tweet_id
42    in_reply_to_status_id
44      in_reply_to_user_id
58                   source
dtype: object

In [283]:
# Identify if there are any tweets where the id and id_str don't match
# According to the Twitter API Implementations should use the id_str rather than the large integer in id
mismatched_tweet_ids = df_tweet_additional_info[df_tweet_additional_info.id
                                                != df_tweet_additional_info.id].id_str
len(mismatched_tweet_ids)

0

In [284]:
# Identify tweets that are retweets rather than original. 
# If it's a retweet, the tweet will have a value in the property named retweeted_status. 
retweeted_tweet_ids = df_tweet_additional_info[~df_tweet_additional_info.retweeted_status.isnull()].id_str
len(retweeted_tweet_ids)

168

In [285]:
# Identify tweets that have image analysis
with_images = list(df_image_predict.tweet_id)
print("Number of images: " + str(len(with_images)))

# Identify tweets without images by checking if ids exist in both dataframes
df_tweets_with_images = df_tweets['tweet_id'].isin(with_images)
print("Tweets with image analysis: " + str(df_tweets_with_images.value_counts()))

Number of images: 2075
Tweets with image analysis: True     2075
False     281
Name: tweet_id, dtype: int64

In [286]:
# Identify tweets that are about dogs. Tweets about dogs are:
# where the image detected was a dog or 
# it was labeled as a doggo, pupper, puppo, or floofer
tweet_images_identified_as_dog = df_image_predict.loc[~((df_image_predict["p1_dog"] == False)
                                          & (df_image_predict["p2_dog"] == False)
                                          & (df_image_predict["p3_dog"] == False))]
print("Tweet images identified as a dog: " + str(len(tweet_images_identified_as_dog)))
tweets_labeled_as_a_dog = df_tweets[~((df_tweets.doggo == "None")
                                    & (df_tweets.pupper == "None")
                                    & (df_tweets.puppo == "None")
                                    & (df_tweets.floofer == "None"))]
print("Tweets labeled as a dog: " + str(len(tweets_labeled_as_a_dog)))

Tweet images identified as a dog: 1751
Tweets labeled as a dog: 380

In [287]:
# List all the dog breed names to assess for quality issues such as capitalization and non alpha characters
all_dogbreeds = pd.Series(list(df_image_predict["p1"]) + list(df_image_predict["p2"]) 
                          + list(df_image_predict["p3"]))
all_dogbreeds.value_counts().sort_index()

Afghan_hound                       13
African_chameleon                   1
African_crocodile                   1
African_grey                        2
African_hunting_dog                 2
Airedale                           30
American_Staffordshire_terrier     58
American_alligator                  2
American_black_bear                 5
Angora                              8
Appenzeller                        16
Arabian_camel                      10
Arctic_fox                         13
Australian_terrier                 12
Band_Aid                            1
Bedlington_terrier                 10
Bernese_mountain_dog               13
Blenheim_spaniel                   17
Border_collie                      35
Border_terrier                     17
Boston_bull                        45
Bouvier_des_Flandres                2
Brabancon_griffon                  20
Brittany_spaniel                   26
Cardigan                          115
Chesapeake_Bay_retriever           91
Chihuahua                         185
Christmas_stocking                  8
Dandie_Dinmont                     14
Doberman                           21
                                 ...
vizsla                             30
volcano                             1
waffle_iron                         1
walking_stick                       1
wallaby                             7
wallet                              3
warthog                             4
washbasin                           6
washer                              1
water_bottle                        2
water_buffalo                       7
weasel                             11
web_site                           20
whippet                            33
whiptail                            1
white_wolf                         14
wig                                 4
wild_boar                           2
window_screen                       5
window_shade                        4
wing                                1
wire-haired_fox_terrier             9
wok                                 1
wolf_spider                         1
wombat                              6
wood_rabbit                         7
wooden_spoon                        1
wool                                5
wreck                               2
zebra                               2
Length: 634, dtype: int64

In [288]:
# Sort on names of the dogs alphabetically to assess for quality issues such as capitalization 
# and non alpha characters
df_tweets.name.value_counts().sort_index()

Abby             2
Ace              1
Acro             1
Adele            1
Aiden            1
Aja              1
Akumi            1
Al               1
Albert           2
Albus            2
Aldrick          1
Alejandro        1
Alexander        1
Alexanderson     1
Alf              1
Alfie            5
Alfy             1
Alice            2
Amber            1
Ambrose          1
Amy              1
Am√©lie           1
Anakin           2
Andru            1
Andy             1
Angel            1
Anna             1
Anthony          1
Antony           1
Apollo           1
                ..
Ziva             1
Zoe              1
Zoey             3
Zooey            1
Zuzu             1
a               55
actually         2
all              1
an               7
by               1
getting          2
his              1
incredibly       1
infuriating      1
just             4
life             1
light            1
mad              2
my               1
not              2
officially       1
old              1
one              4
quite            4
space            1
such             1
the              8
this             1
unacceptable     1
very             5
Name: name, Length: 957, dtype: int64

### Quality
##### Based on the Project Motivation our dataset and results should:
- Only contain original ratings (no retweets) 
- Only contain tweets that have images
- Only contain tweets about dogs
- Focus on at least eight data quality issues and at least two tidiness issues

##### Data Quality Dimensions
Completeness: Do we have all of the records that we should? Do we have missing records or not? Are there specific rows, columns, or cells missing? 

Validity: We have the records, but they're not valid, i.e., they don't conform to a defined schema. A schema is a defined set of rules for data. These rules can be real-world constraints (e.g. negative height is impossible) and table-specific constraints (e.g. unique key constraints in tables). 

Accuracy: Inaccurate data is wrong data that is valid. It adheres to the defined schema, but it is still incorrect. Example: a patient's weight that is 5 lbs too heavy because the scale was faulty. 

Consistency: Inconsistent data is both valid and accurate, but there are multiple correct ways of referring to the same thing. Consistency, i.e., a standard format, in columns that represent the same data across tables and/or within tables is desired. 

##### `df_tweets` Table Actions 
- Remove tweets that do not have images
- The `df_tweets` table 'name' variable has values that are not dog names such as'a' and 'an' 'unacceptable' and 'infuriating' that should be replaced with 'None'.
- Some of the rating values are not
- Remove retweets.
- Change rating_denominators to be 10.
- Change rating_numerators to be the median for values <=10 and >=20.  Median is 13.
- Remove tweets that are not about dogs.
- Fix erroneous datatypes. Datetime, float, int. 
- Handle id and id_str correctly.  https://developer.twitter.com/en/docs/basics/twitter-ids.html.  Convert ids to be str.
- Change column names to be consistent with Twitter API https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/intro-to-tweet-json#fundamentals. tweet_id -> id, timestamp ->created_at.
- 

##### `df_image_predict` Table Actions
- Change dog breed names to capitalize the each word and remove underscores.
- Remove retweets.
- Remove rows for ids that are not in `df_tweets`.
- Change column names to be consistent with Twitter API. tweet_id->str, jpg_url->media_url_https.

##### `df_tweet_additional_info` Table Actions
- Remove retweets.
- Remove tweets that do not have images.
- Remove rows for ids that are not in `df_tweets`.

### Tidiness
##### Tidiness Criteria:
- Each variable you measure should be in one column.
- Each different observation of that variable should be in a different row.
- There should be one table for each ‚Äúkind‚Äù of variable.
- Related tables should each include a column that allows them to be linked.
##### Tidiness Actions
- Combine `df_tweets` and `df_tweet_additional_info` tables so tweets have one table.
- Three columns are duplicated across the `df_tweets` and `df_tweet_additional_info`, `in_reply_to_status_id`, `in_reply_to_user_id` and `source`. I will be dropping the columns in `df_tweets` and keep the ones in the `df_tweet_additional_info` because these are returned via the extended tweet api.
- Combine the dog stage columns into one and change the type to a category. For rows with more than one entry, then  an entry will have the value `'multiple`.

## Clean

In [387]:
# Copy original dataframes
df_tweets_clean = df_tweets.copy()
df_image_predict_clean = df_image_predict.copy()
df_tweet_additional_info_clean = df_tweet_additional_info.copy()

### Missing Data

##### Define
Remove tweets from the `df_tweets` and `df_tweet_additional_info` tables that do not have images in the `df_image_predict` table.

##### Code

In [388]:
# Function to reuse code to output dataframe shape after each clean action below
def print_shape_info():
    print("Shape of df_tweets_clean: " + str(df_tweets_clean.shape))
    print("Shape of df_tweet_additional_info_clean: " + str(df_tweet_additional_info_clean.shape))
    print("Shape of df_image_predict_clean: " + str(df_image_predict_clean.shape))

In [389]:
# Verify the shape of the dataframes before changes
print_shape_info()

Shape of df_tweets_clean: (2356, 17)
Shape of df_tweet_additional_info_clean: (2342, 32)
Shape of df_image_predict_clean: (2075, 12)

In [390]:
# Identify the tweets in the df_tweets and df_tweet_additional_info dataframes that have image analysis
with_image_analysis = list(df_image_predict_clean.tweet_id)

df_tweets_clean['with_image_analysis'] = df_tweets_clean['tweet_id'].isin(with_image_analysis)
df_tweet_additional_info_clean['with_image_analysis'] = df_tweet_additional_info_clean['id'].isin(with_images)

print("Tweets with image analysis: " + str(df_tweets_clean['with_image_analysis'].value_counts()))
print("Tweets additional info with image analysis: " + 
      str(df_tweet_additional_info_clean['with_image_analysis'].value_counts()))

Tweets with image analysis: True     2075
False     281
Name: with_image_analysis, dtype: int64
Tweets additional info with image analysis: True     2068
False     274
Name: with_image_analysis, dtype: int64

In [391]:
# Keep only the rows in the df_tweets and df_tweet_additional_info dataframes that have image analysis
df_tweets_clean = df_tweets_clean[df_tweets_clean['with_image_analysis'] == True]
df_tweet_additional_info_clean = df_tweet_additional_info_clean[df_tweet_additional_info_clean['with_image_analysis'] 
                                                                == True]

In [392]:
# Drop the temporary column with_image_analysis now that changes are complete
df_tweets_clean = df_tweets_clean.drop('with_image_analysis', axis=1)
df_tweet_additional_info_clean = df_tweet_additional_info_clean.drop('with_image_analysis', axis=1)

##### Test

In [393]:
# Verify that the size of the dataframes matches expected 2075, 2068, and 2075
print_shape_info()

Shape of df_tweets_clean: (2075, 17)
Shape of df_tweet_additional_info_clean: (2068, 32)
Shape of df_image_predict_clean: (2075, 12)

### Quality

##### Define
- Remove retweets from the `df_tweets`, `df_image_predict` and `df_tweet_additional_info` tables.

##### Code

In [394]:
# Verify the shape of each dataframe before changes
print_shape_info()

Shape of df_tweets_clean: (2075, 17)
Shape of df_tweet_additional_info_clean: (2068, 32)
Shape of df_image_predict_clean: (2075, 12)

In [395]:
# Identify tweets that are retweets rather than original. 
# If it's a retweet, the tweet will have a value in the property named retweeted_status. 
retweeted_tweet_ids = df_tweet_additional_info_clean[~df_tweet_additional_info_clean.
                                                     retweeted_status.isnull()].id
print("Number of retweets to drop from df_tweet_addtional_info: " + str(len(retweeted_tweet_ids)))
print("Number of retweets to drop from df_tweets_clean: " + str(len(df_tweets_clean[df_tweets_clean["tweet_id"].
                                                               isin(retweeted_tweet_ids)])))
print("Number of retweets to drop from df_image_predict_clean: " 
      + str(len(df_image_predict_clean[df_image_predict_clean["tweet_id"].isin(retweeted_tweet_ids)])))

Number of retweets to drop from df_tweet_addtional_info: 75
Number of retweets to drop from df_tweets_clean: 75
Number of retweets to drop from df_image_predict_clean: 75

In [396]:
# Drop the rows that are retweets in each dataframe
df_tweets_clean.drop(df_tweets_clean[df_tweets_clean.tweet_id.isin(retweeted_tweet_ids)].index, 
                     inplace=True)
df_tweet_additional_info_clean.drop(df_tweet_additional_info_clean[
    df_tweet_additional_info_clean.id.isin(retweeted_tweet_ids)].index, inplace=True)
df_image_predict_clean.drop(df_image_predict_clean[
    df_image_predict_clean.tweet_id.isin(retweeted_tweet_ids)].index, inplace=True)

##### Test

In [397]:
# Verify that there are no retweets in the dataframe
retweeted_tweet_ids = list(df_tweets_clean["tweet_id"].isin(retweeted_tweet_ids))
assert((retweeted_tweet_ids.count(True)) == 0)

In [398]:
# Verify the shape of each dataframe after the changes
print_shape_info()

Shape of df_tweets_clean: (2000, 17)
Shape of df_tweet_additional_info_clean: (1993, 32)
Shape of df_image_predict_clean: (2000, 12)

##### Define
The df_tweets table 'name' variable has values such lower case strings that are dog names such as'a' and 'an' 'unacceptable' and 'infuriating' that should be replaced with 'None'.

##### Code

In [399]:
# Convert all the dog names that are incorrect "a", "an" etc to None.
for i, row in df_tweets_clean.iterrows():
    if row['name'].islower():
        df_tweets_clean.at[i, 'name'] = "None"

##### Test

In [400]:
# Verify that there are no erroneous dog names after the changes
df_tweets_clean["name"].value_counts().sort_index()

Abby            2
Ace             1
Acro            1
Adele           1
Aiden           1
Aja             1
Akumi           1
Al              1
Albert          2
Albus           2
Aldrick         1
Alejandro       1
Alexander       1
Alexanderson    1
Alf             1
Alfie           4
Alfy            1
Alice           2
Amber           1
Ambrose         1
Amy             1
Am√©lie          1
Anakin          1
Andru           1
Andy            1
Angel           1
Anna            1
Anthony         1
Antony          1
Apollo          1
               ..
Waffles         3
Walker          1
Wallace         3
Wally           2
Walter          4
Watson          2
Wesley          1
Wiggles         1
Willem          1
William         1
Willie          1
Willow          1
Willy           1
Wilson          3
Winifred        1
Winnie          4
Winston         8
Wishes          1
Wyatt           3
Yoda            1
Yogi            2
Zara            1
Zeek            1
Zeke            3
Zeus            1
Ziva            1
Zoe             1
Zoey            3
Zooey           1
Zuzu            1
Name: name, Length: 914, dtype: int64

##### Define
- Replace values in rating_numerator variable in the `df_tweets` table that are < 10 or > 20 to be the median.

##### Code

In [401]:
# Assess the rating_numerator values before the changes
df_tweets_clean.rating_numerator.value_counts()

12      450
10      419
11      396
13      265
9       151
8        95
7        52
14       37
5        33
6        32
3        19
4        16
2         9
1         5
0         2
420       1
24        1
1776      1
27        1
44        1
45        1
50        1
60        1
75        1
80        1
84        1
88        1
99        1
121       1
143       1
144       1
165       1
204       1
26        1
Name: rating_numerator, dtype: int64

In [402]:
# Calculate the median for the rating_numerator
median_numerator = df_tweets_clean['rating_numerator'].median()
median_numerator

11.0

In [403]:
# Change the rating_numerator values that are outliers to the median
df_tweets_clean[df_tweets_clean['rating_numerator'] < 10] = median_numerator
df_tweets_clean[df_tweets_clean['rating_numerator'] > 20] = median_numerator

##### Test

In [404]:
# Assess the rating_numerator values after the changes
df_tweets_clean.rating_numerator.value_counts()

11.0    829
12.0    450
10.0    419
13.0    265
14.0     37
Name: rating_numerator, dtype: int64

##### Define
- Replace values in rating_denominator variable in the `df_tweets` table that are not 10 to be 10

##### Code

In [405]:
# Change the rating_denominator values that are outliers to be 10
df_tweets_clean['rating_denominator'] = 10

##### Test

In [406]:
# Assess the rating_denominator values after the changes
df_tweets_clean.rating_denominator.value_counts()

10    2000
Name: rating_denominator, dtype: int64

##### Define
- Remove tweets that are not about dogs.
- Tweets about dogs have an image detected as a dog or the tweet was labeled as a doggo, pupper, puppo, or floofer

##### Code

In [372]:
# Assess the shape of the dataframes before changes
print_shape_info()

Shape of df_tweets_clean: (2000, 17)
Shape of df_tweet_additional_info_clean: (1993, 32)
Shape of df_image_predict_clean: (2000, 12)

In [408]:
# Find tweets that are about a dog by either image analysis or if they were labeled as a dog
tweet_images_identified_as_dog = list(df_image_predict_clean.loc[~((df_image_predict_clean["p1_dog"] == False)
                                          & (df_image_predict_clean["p2_dog"] == False)
                                          & (df_image_predict_clean["p3_dog"] == False))].tweet_id)
print("Tweet images identified as a dog: " + str(len(tweet_images_identified_as_dog)))
tweets_labeled_as_a_dog = list(df_tweets_clean[~((df_tweets_clean.doggo == "None")
                                    & (df_tweets_clean.pupper == "None")
                                    & (df_tweets_clean.puppo == "None")
                                    & (df_tweets_clean.floofer == "None"))].tweet_id)
print("Tweets labeled as a dog: " + str(len(tweets_labeled_as_a_dog)))
tweets_about_dogs = list(set(tweet_images_identified_as_dog) | set(tweets_labeled_as_a_dog))
print("Tweets about dogs: " + str(len(tweets_about_dogs)))

Tweet images identified as a dog: 1691
Tweets labeled as a dog: 694
Tweets about dogs: 1805

In [409]:
# Create a temporary column in the dataframe to identify tweets about dogs vs not dogs
for i, row in df_tweets_clean.iterrows():
    if row.tweet_id in tweets_about_dogs:
        df_tweets_clean.at[i, 'dog'] = True
    else:
        df_tweets_clean.at[i, 'dog'] = False
print(df_tweets_clean['dog'].value_counts())

True     1455
False     545
Name: dog, dtype: int64

In [410]:
# Only keep the rows in df_tweets that are identified as dogs
df_tweets_clean = df_tweets_clean.loc[df_tweets_clean['dog'] == True]

In [411]:
# Remove the temporary column after the changes
df_tweets_clean = df_tweets_clean.drop('dog', axis=1)

##### Test

In [412]:
# Assess the shape of each dataframe after the changes
print_shape_info()

Shape of df_tweets_clean: (1455, 17)
Shape of df_tweet_additional_info_clean: (1993, 32)
Shape of df_image_predict_clean: (2000, 12)

In [413]:
# Output the first line of the df_tweet dataframe for visual verification
df_tweets_clean.reset_index()
df_tweets_clean.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2,8.918152e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12.0,10,Archie,None,None,None,None

##### Define
- Change column names to be consistent with Twitter API. tweet_id->id. jpg_url->media_url_https

##### Code

In [414]:
# Assess the column names in each dataframe prior to changes
print(df_tweets_clean.info())
print(df_image_predict_clean.info())
print(df_tweet_additional_info_clean.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1455 entries, 2 to 2355
Data columns (total 17 columns):
tweet_id                      1455 non-null float64
in_reply_to_status_id         446 non-null float64
in_reply_to_user_id           446 non-null float64
timestamp                     1455 non-null object
source                        1455 non-null object
text                          1455 non-null object
retweeted_status_id           436 non-null float64
retweeted_status_user_id      436 non-null float64
retweeted_status_timestamp    436 non-null object
expanded_urls                 1455 non-null object
rating_numerator              1455 non-null float64
rating_denominator            1455 non-null int64
name                          1455 non-null object
doggo                         1455 non-null object
floofer                       1455 non-null object
pupper                        1455 non-null object
puppo                         1455 non-null object
dtypes: float64(6), int64(1), object(10)
memory usage: 204.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2000 non-null int64
jpg_url     2000 non-null object
img_num     2000 non-null int64
p1          2000 non-null object
p1_conf     2000 non-null float64
p1_dog      2000 non-null bool
p2          2000 non-null object
p2_conf     2000 non-null float64
p2_dog      2000 non-null bool
p3          2000 non-null object
p3_conf     2000 non-null float64
p3_dog      2000 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 162.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1993 entries, 0 to 2341
Data columns (total 32 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       1993 non-null datetime64[ns]
display_text_range               1993 non-null object
entities                         1993 non-null object
extended_entities                1993 non-null object
favorite_count                   1993 non-null int64
favorited                        1993 non-null bool
full_text                        1993 non-null object
geo                              0 non-null float64
id                               1993 non-null int64
id_str                           1993 non-null int64
in_reply_to_screen_name          23 non-null object
in_reply_to_status_id            23 non-null float64
in_reply_to_status_id_str        23 non-null float64
in_reply_to_user_id              23 non-null float64
in_reply_to_user_id_str          23 non-null float64
is_quote_status                  1993 non-null bool
lang                             1993 non-null object
place                            1 non-null object
possibly_sensitive               1993 non-null float64
possibly_sensitive_appealable    1993 non-null float64
quoted_status                    0 non-null object
quoted_status_id                 0 non-null float64
quoted_status_id_str             0 non-null float64
quoted_status_permalink          0 non-null object
retweet_count                    1993 non-null int64
retweeted                        1993 non-null bool
retweeted_status                 0 non-null object
source                           1993 non-null object
truncated                        1993 non-null bool
user                             1993 non-null object
dtypes: bool(4), datetime64[ns](1), float64(11), int64(4), object(12)
memory usage: 459.3+ KB
None

In [415]:
# Change the column names to comply with Twitter API conventions
df_tweets_clean = df_tweets_clean.rename(columns={'tweet_id': 'id'})
df_image_predict_clean = df_image_predict_clean.rename(columns={'tweet_id':'id', 'jpg_url':'media_url_https'})

##### Test

In [416]:
# Assess the column names in each dataframe after changes
print(df_tweets_clean.info())
print(df_image_predict_clean.info())
print(df_tweet_additional_info_clean.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1455 entries, 2 to 2355
Data columns (total 17 columns):
id                            1455 non-null float64
in_reply_to_status_id         446 non-null float64
in_reply_to_user_id           446 non-null float64
timestamp                     1455 non-null object
source                        1455 non-null object
text                          1455 non-null object
retweeted_status_id           436 non-null float64
retweeted_status_user_id      436 non-null float64
retweeted_status_timestamp    436 non-null object
expanded_urls                 1455 non-null object
rating_numerator              1455 non-null float64
rating_denominator            1455 non-null int64
name                          1455 non-null object
doggo                         1455 non-null object
floofer                       1455 non-null object
pupper                        1455 non-null object
puppo                         1455 non-null object
dtypes: float64(6), int64(1), object(10)
memory usage: 204.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 2074
Data columns (total 12 columns):
id                 2000 non-null int64
media_url_https    2000 non-null object
img_num            2000 non-null int64
p1                 2000 non-null object
p1_conf            2000 non-null float64
p1_dog             2000 non-null bool
p2                 2000 non-null object
p2_conf            2000 non-null float64
p2_dog             2000 non-null bool
p3                 2000 non-null object
p3_conf            2000 non-null float64
p3_dog             2000 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 162.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1993 entries, 0 to 2341
Data columns (total 32 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       1993 non-null datetime64[ns]
display_text_range               1993 non-null object
entities                         1993 non-null object
extended_entities                1993 non-null object
favorite_count                   1993 non-null int64
favorited                        1993 non-null bool
full_text                        1993 non-null object
geo                              0 non-null float64
id                               1993 non-null int64
id_str                           1993 non-null int64
in_reply_to_screen_name          23 non-null object
in_reply_to_status_id            23 non-null float64
in_reply_to_status_id_str        23 non-null float64
in_reply_to_user_id              23 non-null float64
in_reply_to_user_id_str          23 non-null float64
is_quote_status                  1993 non-null bool
lang                             1993 non-null object
place                            1 non-null object
possibly_sensitive               1993 non-null float64
possibly_sensitive_appealable    1993 non-null float64
quoted_status                    0 non-null object
quoted_status_id                 0 non-null float64
quoted_status_id_str             0 non-null float64
quoted_status_permalink          0 non-null object
retweet_count                    1993 non-null int64
retweeted                        1993 non-null bool
retweeted_status                 0 non-null object
source                           1993 non-null object
truncated                        1993 non-null bool
user                             1993 non-null object
dtypes: bool(4), datetime64[ns](1), float64(11), int64(4), object(12)
memory usage: 459.3+ KB
None

##### Define
- Fix erroneous datatypes. Datetime - timestamp, retweeted_status_timestamp. str - ids across all dataframes. str - id_str, quoted_status_id_str, in_reply_to_status_id_str, in_reply_to_user_id_str

##### Code

In [417]:
# Verify the datatypes of each variable of the dataframes before changes
print(df_tweets_clean.info())
print(df_image_predict_clean.info())
print(df_tweet_additional_info_clean.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1455 entries, 2 to 2355
Data columns (total 17 columns):
id                            1455 non-null float64
in_reply_to_status_id         446 non-null float64
in_reply_to_user_id           446 non-null float64
timestamp                     1455 non-null object
source                        1455 non-null object
text                          1455 non-null object
retweeted_status_id           436 non-null float64
retweeted_status_user_id      436 non-null float64
retweeted_status_timestamp    436 non-null object
expanded_urls                 1455 non-null object
rating_numerator              1455 non-null float64
rating_denominator            1455 non-null int64
name                          1455 non-null object
doggo                         1455 non-null object
floofer                       1455 non-null object
pupper                        1455 non-null object
puppo                         1455 non-null object
dtypes: float64(6), int64(1), object(10)
memory usage: 204.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 2074
Data columns (total 12 columns):
id                 2000 non-null int64
media_url_https    2000 non-null object
img_num            2000 non-null int64
p1                 2000 non-null object
p1_conf            2000 non-null float64
p1_dog             2000 non-null bool
p2                 2000 non-null object
p2_conf            2000 non-null float64
p2_dog             2000 non-null bool
p3                 2000 non-null object
p3_conf            2000 non-null float64
p3_dog             2000 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 162.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1993 entries, 0 to 2341
Data columns (total 32 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       1993 non-null datetime64[ns]
display_text_range               1993 non-null object
entities                         1993 non-null object
extended_entities                1993 non-null object
favorite_count                   1993 non-null int64
favorited                        1993 non-null bool
full_text                        1993 non-null object
geo                              0 non-null float64
id                               1993 non-null int64
id_str                           1993 non-null int64
in_reply_to_screen_name          23 non-null object
in_reply_to_status_id            23 non-null float64
in_reply_to_status_id_str        23 non-null float64
in_reply_to_user_id              23 non-null float64
in_reply_to_user_id_str          23 non-null float64
is_quote_status                  1993 non-null bool
lang                             1993 non-null object
place                            1 non-null object
possibly_sensitive               1993 non-null float64
possibly_sensitive_appealable    1993 non-null float64
quoted_status                    0 non-null object
quoted_status_id                 0 non-null float64
quoted_status_id_str             0 non-null float64
quoted_status_permalink          0 non-null object
retweet_count                    1993 non-null int64
retweeted                        1993 non-null bool
retweeted_status                 0 non-null object
source                           1993 non-null object
truncated                        1993 non-null bool
user                             1993 non-null object
dtypes: bool(4), datetime64[ns](1), float64(11), int64(4), object(12)
memory usage: 459.3+ KB
None

In [418]:
# Convert data types in each dataframe
df_tweets_clean.id = df_tweets_clean.id.astype(str)
df_tweets_clean.in_reply_to_status_id = df_tweets_clean.in_reply_to_status_id.astype(str)
df_tweets_clean.in_reply_to_user_id = df_tweets_clean.in_reply_to_user_id.astype(str)
df_tweets_clean.retweeted_status_id = df_tweets_clean.retweeted_status_id.astype(str)
df_tweets_clean.retweeted_status_user_id = df_tweets_clean.retweeted_status_user_id.astype(str)
df_tweets_clean.timestamp = pd.to_datetime(df_tweets_clean.timestamp)
df_tweets_clean.retweeted_status_timestamp = pd.to_datetime(df_tweets_clean.retweeted_status_timestamp)

df_image_predict_clean.id = df_image_predict_clean.id.astype(str)

df_tweet_additional_info_clean.id = df_tweet_additional_info_clean.id.astype(str)
df_tweet_additional_info_clean.in_reply_to_status_id = df_tweet_additional_info_clean.in_reply_to_status_id.astype(str)
df_tweet_additional_info_clean.in_reply_to_user_id = df_tweet_additional_info_clean.in_reply_to_user_id.astype(str)
df_tweet_additional_info_clean.quoted_status_id = df_tweet_additional_info_clean.quoted_status_id.astype(str)
df_tweet_additional_info_clean.id_str = df_tweet_additional_info_clean.id_str.astype(str)
df_tweet_additional_info_clean.quoted_status_id_str = df_tweet_additional_info_clean.quoted_status_id_str.astype(str)
df_tweet_additional_info_clean.in_reply_to_status_id_str = df_tweet_additional_info_clean.in_reply_to_status_id_str.astype(str)
df_tweet_additional_info_clean.in_reply_to_user_id_str = df_tweet_additional_info_clean.in_reply_to_user_id_str.astype(str)

##### Test

In [419]:
# Verify the datatypes of each variable of the dataframes after changes
print(df_tweets_clean.info())
print(df_image_predict_clean.info())
print(df_tweet_additional_info_clean.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1455 entries, 2 to 2355
Data columns (total 17 columns):
id                            1455 non-null object
in_reply_to_status_id         1455 non-null object
in_reply_to_user_id           1455 non-null object
timestamp                     1455 non-null datetime64[ns]
source                        1455 non-null object
text                          1455 non-null object
retweeted_status_id           1455 non-null object
retweeted_status_user_id      1455 non-null object
retweeted_status_timestamp    436 non-null datetime64[ns]
expanded_urls                 1455 non-null object
rating_numerator              1455 non-null float64
rating_denominator            1455 non-null int64
name                          1455 non-null object
doggo                         1455 non-null object
floofer                       1455 non-null object
pupper                        1455 non-null object
puppo                         1455 non-null object
dtypes: datetime64[ns](2), float64(1), int64(1), object(13)
memory usage: 204.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 2074
Data columns (total 12 columns):
id                 2000 non-null object
media_url_https    2000 non-null object
img_num            2000 non-null int64
p1                 2000 non-null object
p1_conf            2000 non-null float64
p1_dog             2000 non-null bool
p2                 2000 non-null object
p2_conf            2000 non-null float64
p2_dog             2000 non-null bool
p3                 2000 non-null object
p3_conf            2000 non-null float64
p3_dog             2000 non-null bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 162.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1993 entries, 0 to 2341
Data columns (total 32 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       1993 non-null datetime64[ns]
display_text_range               1993 non-null object
entities                         1993 non-null object
extended_entities                1993 non-null object
favorite_count                   1993 non-null int64
favorited                        1993 non-null bool
full_text                        1993 non-null object
geo                              0 non-null float64
id                               1993 non-null object
id_str                           1993 non-null object
in_reply_to_screen_name          23 non-null object
in_reply_to_status_id            1993 non-null object
in_reply_to_status_id_str        1993 non-null object
in_reply_to_user_id              1993 non-null object
in_reply_to_user_id_str          1993 non-null object
is_quote_status                  1993 non-null bool
lang                             1993 non-null object
place                            1 non-null object
possibly_sensitive               1993 non-null float64
possibly_sensitive_appealable    1993 non-null float64
quoted_status                    0 non-null object
quoted_status_id                 1993 non-null object
quoted_status_id_str             1993 non-null object
quoted_status_permalink          0 non-null object
retweet_count                    1993 non-null int64
retweeted                        1993 non-null bool
retweeted_status                 0 non-null object
source                           1993 non-null object
truncated                        1993 non-null bool
user                             1993 non-null object
dtypes: bool(4), datetime64[ns](1), float64(5), int64(2), object(20)
memory usage: 459.3+ KB
None

##### Define
- Remove rows for ids that are not in `df_tweets` from `df_image_predict` and `df_tweet_additional_info` tables.

##### Code

In [420]:
# Assess the shape of each dataframe prior to changes
print_shape_info()

Shape of df_tweets_clean: (1455, 17)
Shape of df_tweet_additional_info_clean: (1993, 32)
Shape of df_image_predict_clean: (2000, 12)

In [435]:
# Get the union of ids that are common across all three datasets
ids = list(df_tweets_clean.id)

In [436]:
# Create a temporary column identifying ids that are to be kept. 
# The rows in df_tweet is the source of truth  
def set_in_ids(df):
    for i, row in df.iterrows():
        if row.id in ids:
            df.at[i, 'in_ids'] = True
        else:
            df.at[i, 'in_ids'] = False

In [437]:
# Create the temporary column in each dataset identifying ids that are to be kept
set_in_ids(df_image_predict_clean)
set_in_ids(df_tweet_additional_info_clean)
set_in_ids(df_tweets_clean)

print("Number of rows to keep from df_tweet_clean: " + 
      str(df_tweets_clean['in_ids'].value_counts()))
print("Number of rows to keep from df_image_predict_clean: " + 
      str(df_image_predict_clean['in_ids'].value_counts()))
print("Number or rows to keep from df_tweet_additional_info_clean: " + 
      str(df_tweet_additional_info_clean['in_ids'].value_counts()))

Number of rows to keep from df_tweet_clean: True    1455
Name: in_ids, dtype: int64
Number of rows to keep from df_image_predict_clean: False    2000
Name: in_ids, dtype: int64
Number or rows to keep from df_tweet_additional_info_clean: False    1993
Name: in_ids, dtype: int64

In [326]:
# Update each data frame to only keep common ids
df_tweets_clean = df_tweets_clean.loc[df_tweets_clean['in_ids'] 
                                                    == True]
df_image_predict_clean = df_image_predict_clean.loc[df_image_predict_clean['in_ids'] 
                                                    == True]
df_tweet_additional_info_clean = df_tweet_additional_info_clean.loc[df_tweet_additional_info_clean['in_ids'] 
                                                                    == True]

In [327]:
# Drop the temporary column after the changes
df_tweets_clean = df_tweets_clean.drop('in_ids', axis=1)
df_image_predict_clean = df_image_predict_clean.drop('in_ids', axis=1)
df_tweet_additional_info_clean = df_tweet_additional_info_clean.drop('in_ids', axis=1)

##### Test

In [328]:
# Output the shape of each dataframe after the changes
print_shape_info()

Shape of df_tweets_clean: (0, 17)
Shape of df_tweet_additional_info_clean: (0, 32)
Shape of df_image_predict_clean: (0, 12)

In [329]:
# Output the first row of each dataframe after the changes
df_tweets_clean.head(1)

Empty DataFrame
Columns: [id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [330]:
# Output the first row of each dataframe after the changes
df_tweet_additional_info_clean.head(1)

Empty DataFrame
Columns: [contributors, coordinates, created_at, display_text_range, entities, extended_entities, favorite_count, favorited, full_text, geo, id, id_str, in_reply_to_screen_name, in_reply_to_status_id, in_reply_to_status_id_str, in_reply_to_user_id, in_reply_to_user_id_str, is_quote_status, lang, place, possibly_sensitive, possibly_sensitive_appealable, quoted_status, quoted_status_id, quoted_status_id_str, quoted_status_permalink, retweet_count, retweeted, retweeted_status, source, truncated, user]
Index: []

In [331]:
# Output the first row of each dataframe after the changes
df_image_predict_clean.head(1)

Empty DataFrame
Columns: [id, media_url_https, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog]
Index: []

##### Define
- Change dog breed names to capitalize each word and change non alpha characters to space.

##### Code

In [332]:
# Sort on names
print(df_image_predict_clean.p1.value_counts().sort_index())
print(df_image_predict_clean.p2.value_counts().sort_index())
print(df_image_predict_clean.p3.value_counts().sort_index())

Series([], Name: p1, dtype: int64)
Series([], Name: p2, dtype: int64)
Series([], Name: p3, dtype: int64)

In [333]:
for i, row in df_image_predict_clean.iterrows():
    df_image_predict_clean.at[i, 'p1'] = df_image_predict_clean.at[i, 'p1'].replace('_', ' ').replace('-', ' ' ).title()
    df_image_predict_clean.at[i, 'p2'] = df_image_predict_clean.at[i, 'p2'].replace('_', ' ').replace('-', ' ' ).title()
    df_image_predict_clean.at[i, 'p3'] = df_image_predict_clean.at[i, 'p3'].replace('_', ' ').replace('-', ' ' ).title()

##### Test

In [334]:
# Sort the dog names
all_dogbreeds = pd.Series(list(df_image_predict_clean["p1"]) + list(df_image_predict_clean["p2"]) 
                          + list(df_image_predict_clean["p3"]))
all_dogbreeds.value_counts().sort_index()

Series([], dtype: int64)

##### Define
- Select the dog breed out of p1, p2, p3 with the highest probabibility as the dog breed for the row.
- Convert the dog_breed column to a category

##### Code

In [335]:
# Create a dog_breed variable column and initialize the values to none
df_image_predict_clean["dog_breed"] = 'None'

# Update the dog_breed column with the value that had the highest confidence and was 
# Identified to be a dog
for i, row in df_image_predict_clean.iterrows():
    maximum = 0
    if (row.p2_conf > maximum) & (row.p1_dog == True):
        df_image_predict_clean.at[i, 'dog_breed'] = df_image_predict_clean.at[i, 'p1'] 
        maximum = row.p1_conf
    if (row.p2_conf > maximum) & (row.p2_dog == True):
        df_image_predict_clean.at[i, 'dog_breed'] = df_image_predict_clean.at[i, 'p2'] 
        maximum = row.p2_conf
    if (row.p3_conf > maximum) & (row.p3_dog == True):
        df_image_predict_clean.at[i, 'dog_breed'] = df_image_predict_clean.at[i, 'p3']

In [336]:
# Convert the dog_breed variable to a category
df_image_predict_clean.dog_breed = df_image_predict_clean.dog_breed.astype('category')

##### Test

In [337]:
# Output the values of dog_breed to verify the changes
df_image_predict_clean.dog_breed.value_counts()

Series([], Name: dog_breed, dtype: int64)

In [338]:
# Output the first line of the dataframe to verify the new column was added correctly
df_image_predict_clean.head(1)

Empty DataFrame
Columns: [id, media_url_https, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog, dog_breed]
Index: []

## Tidiness

##### Define
- Combine the separate dog stage columns into one in `df_tweets` called dog_stage.

##### Code

In [339]:
# Assess the shape of the df_tweets_clean dataframe before changes
df_tweets_clean.reset_index()
df_tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 17 columns):
id                            0 non-null object
in_reply_to_status_id         0 non-null object
in_reply_to_user_id           0 non-null object
timestamp                     0 non-null datetime64[ns]
source                        0 non-null object
text                          0 non-null object
retweeted_status_id           0 non-null object
retweeted_status_user_id      0 non-null object
retweeted_status_timestamp    0 non-null datetime64[ns]
expanded_urls                 0 non-null object
rating_numerator              0 non-null float64
rating_denominator            0 non-null int64
name                          0 non-null object
doggo                         0 non-null object
floofer                       0 non-null object
pupper                        0 non-null object
puppo                         0 non-null object
dtypes: datetime64[ns](2), float64(1), int64(1), object(13)
memory usage: 0.0+ bytes

In [340]:
# Get the ids for tweets that are labeled as a dog
tweets_labeled_as_a_dog = list(df_tweets_clean[~((df_tweets_clean.doggo == "None")
                                    & (df_tweets_clean.pupper == "None")
                                    & (df_tweets_clean.puppo == "None")
                                    & (df_tweets_clean.floofer == "None"))].id)
print("Tweets labeled as a dog: " + str(len(tweets_labeled_as_a_dog)))

Tweets labeled as a dog: 0

In [341]:
df_tweets_clean['dog_stage'] = ""

for i, row in df_tweets_clean.iterrows():
    if row.id in tweets_labeled_as_a_dog:
        if row.doggo == "doggo":
            df_tweets_clean.at[i, 'dog_stage'] = "doggo"
        if row.floofer == "floofer":
            df_tweets_clean.at[i, 'dog_stage'] = df_tweets_clean.at[i, 'dog_stage'] + "floofer"
        if row.pupper == "pupper":
            df_tweets_clean.at[i, 'dog_stage'] = df_tweets_clean.at[i, 'dog_stage'] + "pupper"
        if row.puppo == "puppo":
            df_tweets_clean.at[i, 'dog_stage'] = df_tweets_clean.at[i, 'dog_stage'] + "puppo"    

print(df_tweets_clean['dog_stage'].value_counts())

Series([], Name: dog_stage, dtype: int64)

In [342]:
df_tweets_clean.loc[df_tweets_clean.dog_stage == 'doggopupper', 'dog_stage'] = 'multiple'
df_tweets_clean.loc[df_tweets_clean.dog_stage == 'doggopuppo', 'dog_stage'] = 'multiple'
df_tweets_clean.loc[df_tweets_clean.dog_stage == 'doggofloofer', 'dog_stage'] = 'multiple'
df_tweets_clean.loc[df_tweets_clean.dog_stage == '', 'dog_stage'] = 'None'

In [343]:
print(df_tweets_clean['dog_stage'].value_counts())

Series([], Name: dog_stage, dtype: int64)

In [344]:
df_tweets_clean = df_tweets_clean.drop('doggo', axis=1)
df_tweets_clean = df_tweets_clean.drop('floofer', axis=1)
df_tweets_clean = df_tweets_clean.drop('pupper', axis=1)
df_tweets_clean = df_tweets_clean.drop('puppo', axis=1)

##### Test

In [345]:
# Assess the shape of the df_tweets_clean dataframe before changes
df_tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 14 columns):
id                            0 non-null object
in_reply_to_status_id         0 non-null object
in_reply_to_user_id           0 non-null object
timestamp                     0 non-null datetime64[ns]
source                        0 non-null object
text                          0 non-null object
retweeted_status_id           0 non-null object
retweeted_status_user_id      0 non-null object
retweeted_status_timestamp    0 non-null datetime64[ns]
expanded_urls                 0 non-null object
rating_numerator              0 non-null float64
rating_denominator            0 non-null int64
name                          0 non-null object
dog_stage                     0 non-null object
dtypes: datetime64[ns](2), float64(1), int64(1), object(10)
memory usage: 0.0+ bytes

In [346]:
len(df_tweets_clean[df_tweets_clean.dog_stage != ''])

0

In [347]:
df_tweets_clean.head(1)

Empty DataFrame
Columns: [id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, dog_stage]
Index: []

##### Define
- Combine `df_tweets` and `df_tweet_additional_info` and `image_predict` tables so tweets have one table.
- Three columns are duplicated across the df_tweets and df_tweet_additional_info, in_reply_to_status_id, in_reply_to_user_id and source. I will be dropping the columns in `df_tweets` and keep the ones in the `df_tweet_additional_info` because these are returned via the extended tweet api.

##### Code

In [348]:
# Assess the shape of each dataframe before changes
print_shape_info()

Shape of df_tweets_clean: (0, 14)
Shape of df_tweet_additional_info_clean: (0, 32)
Shape of df_image_predict_clean: (0, 13)

In [349]:
# Merge the df_tweet and df_tweet_additional_info dataframes
df_tweets_clean = df_tweets_clean.merge(df_tweet_additional_info_clean, on=['id'], how='outer')

In [350]:
df_tweets_clean = df_tweets_clean.drop('in_reply_to_status_id_x', axis=1)
df_tweets_clean = df_tweets_clean.drop('in_reply_to_user_id_x', axis=1)
df_tweets_clean = df_tweets_clean.drop('source_x', axis=1)
df_tweets_clean = df_tweets_clean.rename(columns={'in_reply_to_status_id_y':'in_reply_to_status_id', 
                                                  'in_reply_to_user_id_y':'in_reply_to_user_id',
                                                  'source_y':'source'})

In [351]:
# Merge the df_tweet and df_image_predict dataframes
df_tweets_clean = df_tweets_clean.merge(df_image_predict_clean, on=['id'], how='outer')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

##### Test

In [ ]:
# Assess the info of each dataframe after changes to verify individual variables and types
df_tweets_clean.info()
df_tweet_additional_info_clean.info()
df_image_predict_clean.info()

In [ ]:
# Assess the shape of each dataframe after changes
print_shape_info()

## Storing

Store the clean DataFrame in a CSV file named twitter_archive_master.csv.

In [ ]:
# Store the cleaned value to a csv file. 
# Set index parameter to False to avoid an "unnamed" index column in the dataset.
df_tweets_clean.to_csv('twitter_archive_master.csv', index=False)

## Analysis and Visualization

#### Insight 1

In [ ]:
fig, axes = plt.subplots(4, 2, figsize=(20,20), sharex=False)

axes[(0,0)].set_title("Distribution of Favorite Counts")
sns.distplot(df_tweets_clean.favorite_count, hist=True, norm_hist=True,
             color = 'blue', ax=axes[(0,0)], axlabel='Favorite Count')
axes[(0,1)].set_title("Distribution of Normalized Favorite Counts")
sns.distplot(df_tweets_clean.favorite_count.apply(np.log10), hist=True, norm_hist=True,
             ax=axes[(0,1)], color = 'blue', axlabel='Favorite Count (log10)')
axes[(1,0)].set_title("Distribution of Retweet Counts")
sns.distplot(tuple(df_tweets_clean.retweet_count), hist=True, norm_hist=True,
             color = 'purple', ax=axes[(1,0)], axlabel='Retweet Count')
axes[(1,1)].set_title("Distribution of Normalized Retweet Counts")
sns.distplot(tuple(df_tweets_clean.retweet_count.apply(np.log10)), hist=True, norm_hist=True,
             ax=axes[(1,1)], color = 'purple', axlabel='Retweet Count (log10)')
axes[(2,0)].set_title("Distribution of Rating Numerator")
sns.distplot(tuple(df_tweets_clean.rating_numerator), hist=True, norm_hist=True,
             color = 'green', ax=axes[(2,0)], axlabel='Rating Numerator')
axes[(2,1)].set_title("Distribution of Normalized Rating Numerator")
sns.distplot(tuple(df_tweets_clean.rating_numerator.apply(np.sqrt)), hist=True, norm_hist=True,
             ax=axes[(2,1)], color = 'green', axlabel='Rating Numerator (sqrt)')
axes[(3,0)].set_title("Distribution of Number of Images")
sns.distplot(tuple(df_tweets_clean.img_num), hist=True, norm_hist=True,
             color = 'red', ax=axes[(3,0)], axlabel='Number of Images')
axes[(3,1)].set_title("Distribution of Normalized Number of Images")
sns.distplot(tuple(df_tweets_clean.img_num.apply(np.log10)), hist=True, norm_hist=True,
             ax=axes[(3,1)], color = 'red', axlabel='Number of Images (log10)')

fig.savefig('distribution_plots.png')

##### Insight 1 Summary
- Favorite Count, Retweet Count, and Rating Numerator are skewed to the left.
- Favorite Count and Retweet Count are normally distributed when adjusted for skewness.
- Rating numerator has been updated to remove outliers and only a few values
- Most tweets have 1 image.

##### Insight 2

In [ ]:
# Subset the data variables of interest for charting
df_tweets_clean_subset = df_tweets_clean[
    df_tweets_clean.columns[df_tweets_clean.columns.
                            isin(['created_at', 'dog_breed', 'rating_numerator','favorite_count', 'retweet_count', 'img_num'])]]
df_tweets_clean_subset.reset_index()
df_tweets_clean_subset.head(1)

In [ ]:
# Group the subsetted dataframe by dog breed and output statistics for each variable of interest
chart = df_tweets_clean_subset.groupby(df_tweets_clean_subset['dog_breed']).agg(['count','median', 'mean', 'sum'])
chart

In [ ]:
# Plot a boxplot of dog breed by favorite count to assess statistics visually 
fig, axes = plt.subplots(figsize=(20,12))
sns.set(style="whitegrid")
axes.set_title("Favorite Count by Dog Breed")
axes = sns.boxplot(x="dog_breed", y=df_tweets_clean_subset.favorite_count, 
                   data=df_tweets_clean_subset, ax=axes)
axes.set(xlabel='Dog Breed', ylabel='Favorite Count')
axes.set_xticklabels(axes.get_xticklabels(), rotation=90)
axes.set(ylim=(0, 55000))

# Save the file for inclusion in external reports
fig.savefig('DogBreedFavoriteCount.png')

In [ ]:
# Plot a boxplot of dog breed by retweet count to assess statistics visually 
fig, axes = plt.subplots(figsize=(20,12))
sns.set(style="whitegrid")
axes.set_title("Retweet Count by Dog Breed")
axes = sns.boxplot(x="dog_breed", y=df_tweets_clean_subset.retweet_count, 
                   data=df_tweets_clean_subset, ax=axes)
axes.set(xlabel='Dog Breed', ylabel='Retweet Count')
axes.set_xticklabels(axes.get_xticklabels(), rotation=90)
axes.set(ylim=(0, 20000))

# Save the file for inclusion in external reports
fig.savefig('DogBreedRetweetCount.png')

In [ ]:
# Plot a boxplot of dog breed by rating numerator to assess statistics visually 
fig, axes = plt.subplots(figsize=(20,12))
sns.set(style="whitegrid")
axes.set_title("Rating Numerator by Dog Breeds")
axes = sns.boxplot(x="dog_breed", y=df_tweets_clean_subset.rating_numerator, 
                   data=df_tweets_clean_subset, ax=axes)
axes.set(xlabel='Dog Breed', ylabel='Rating Numerator')
axes.set_xticklabels(axes.get_xticklabels(), rotation=90)
axes.set(ylim=(9, 20))

# Save the file for inclusion in external reports
fig.savefig('DogBreedRatingNumerator.png')

In [ ]:
# Plot a boxplot of dog breed by number of images to assess statistics visually 
fig, axes = plt.subplots(figsize=(20,12))
sns.set(style="whitegrid")
axes.set_title("Number of Images by Dog Breed")
axes = sns.boxplot(x="dog_breed", y=df_tweets_clean_subset.img_num, 
                   data=df_tweets_clean_subset, ax=axes)
axes.set(xlabel='Dog Breed', ylabel='Number of Images')
axes.set_xticklabels(axes.get_xticklabels(), rotation=90)

# Save the file for inclusion in external reports
fig.savefig('DogBreedNumberImages.png')

##### Insight 2 Summary
- The highest median `favorite_count` by Dog Breed is for the *Bedlington Terrier* followed by the *Afghan Hound* and *Saluki*.
- The highest median `rating_numerator` was for the *Bedlington Terrier* and the next highest was for the *Gordon Setter* 
- The highest median `retweet_count` by Dog Breed is for the *Afghan Hound* followed by *Irish Water Spaniel*.
- Most Dog Breeds have one `img_num` in a tweet. This graph doesn't indicate the number of tweets per Dog Breed.

##### Insight 3

In [ ]:
# Group the subset of data by day of week for charting
df_tweets_clean_subset.groupby(df_tweets_clean_subset['created_at'].dt.weekday_name).agg(['count','median','mean','sum'])

In [ ]:
# Output stats for each variable
df_tweets_clean_subset.groupby(df_tweets_clean_subset['created_at'].dt.weekday_name).describe()

In [ ]:
# Plot the favorite count by day of week
fig, axes = plt.subplots(figsize=(20,12))
sns.set(style="whitegrid")
axes.set_title("Favorite Count by Day of Week")
axes = sns.boxplot(x=df_tweets_clean_subset['created_at'].dt.weekday_name, 
                   y=df_tweets_clean_subset.favorite_count, 
                   data=df_tweets_clean_subset, ax=axes)
axes.set(xlabel='Day of Week', ylabel='Favorite Count')
axes.set(ylim=(0, 30000))

# Save the file for inclusion in external reports
fig.savefig('DayofWeekFavoriteCount.png')

In [ ]:
# Plot the retweet count by day of week
fig, axes = plt.subplots(figsize=(20,12))
sns.set(style="whitegrid")
axes.set_title("Retweet Count by Day of Week")
axes = sns.boxplot(x=df_tweets_clean_subset['created_at'].dt.weekday_name, 
                   y=df_tweets_clean_subset.retweet_count, 
                   data=df_tweets_clean_subset, ax=axes)
axes.set(xlabel='Day of Week', ylabel='Retweet Count (log10)')
axes.set(ylim=(0, 8000))

# Save the plot to a file for inclusion in external reports
fig.savefig('DayofWeekRetweetCount.png')

In [ ]:
# Plot the rating numerator by day of week
fig, axes = plt.subplots(figsize=(20,12))
sns.set(style="whitegrid")
axes.set_title("Rating Numerator by Day of Week")
axes = sns.boxplot(x=df_tweets_clean_subset['created_at'].dt.weekday_name, 
                   y=df_tweets_clean_subset.rating_numerator, 
                   data=df_tweets_clean_subset, ax=axes)
axes.set(xlabel='Day of Week', ylabel='Rating Numerator')
axes.set(ylim=(0, 15))

# Save the plot to a file for inclusion in external reports
fig.savefig('DayofWeekRatingNumerator.png')

##### Insight 3 Summary
- The median `favorite_count` is higher on *Tuesday and Wednesday*.
- The median `retweet_count` is also higher on *Tuesday and Wednesday*.
- *Sundays* are lowest 25th percentile for `retweet_count` and `favorite_count`.
- The `rating_numerator` median is higher on *Tuesday and Friday*.

##### Insight 4

In [ ]:
# Assess the correlation calculation on the subset dataframe
df_tweets_clean_subset.corr()

##### Insight 4 Summary
- `Favorite Count` and `Retweet Count` are strongly correlated.  
- The rating and number of images have very low to no correlation.