In [2]:
#imports
%matplotlib inline
import numpy as np
import pandas as pd
import csv
import datetime
import matplotlib.pyplot as plt
from matplotlib import cm

In [4]:
#Load the football dataset
football_df = pd.read_csv('2015-16-premier-league.csv')
football_df.head(3)

           Team Name  Wins  Draws  Losses
0     Leicester City    23     12       3
1            Arsenal    20     11       7
2  Tottenham Hotspur    19     13       6

In [9]:
football_df.describe()

            Wins      Draws     Losses
count  20.000000  20.000000  20.000000
mean   13.650000  10.700000  13.650000
std     4.944694   2.178846   5.806303
min     3.000000   7.000000   3.000000
25%    10.750000   9.000000  10.000000
50%    12.000000  10.500000  14.000000
75%    18.250000  12.250000  17.250000
max    23.000000  14.000000  27.000000

In [12]:
iqr = 18.25 - 10.75
iqr

7.5